@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

/* * {
  box-sizing: border-box;
} */

body {
  padding: 0.5rem;
  margin: 8;
  font-family: 'Roboto', sans-serif;
}

.semi-transparent {
  opacity: 0.4;
}

/* =================
    Header
   ================= */

.header-container, .header-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.header-container {
  justify-content: space-between;
  align-items: start;
}

.header-title {
  margin: 0;
  margin-top:1.2em;
}

.header-link {
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
}

.header-main > h2 {
  color: gray;
  font-size: 1.1rem;
  margin-top: 0;
}

.header-login {
  margin: 0;
  min-width: 30%;
  align-items: start;
  justify-content: end;
  font-size: 0.95rem;
}

.header-login > a {
  margin-left: 7%;
  text-decoration: none;
}

a:link {
  color: rgb(0, 123, 255);
}

#logout-btn {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: #069;
  font-size: 0.95rem;
  align-self: center;
}

.header-signup {
 
}

/* =================
    Form
   ================= */

.form {
  font-size: 1.3rem;
  margin: 0px 0px;
  display: grid;
}

.form > p {
  font-size: 1.1rem;
  font-weight: 600;
  color: gray;
}

#post-title, #post-body, button {
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 8px;
  border: solid lightgray;
  border-radius: 5px;
}

#post-body {
  padding: 15px;
}

.submit-btn, .edit-submit-btn {
  min-width: 80px;
  width: auto;
  padding: 0.7em;
  background-color: rgb(0, 123, 255);
  color: whitesmoke;
  font-size: 1rem;
  border: none;
}

.submit-btn {
  margin-bottom: 3em;
}

/* =================
    Login, Signup
   ================= */

.signup-form-container {
  font-size: 1.3rem;
  margin: 2.5em 0px;
  display: grid;
}

.signup-form {
  display: grid;
}

.signup-form > p {
margin-bottom: 2em;
}

#username {
  margin-bottom: 0.5em;
}

#password {
  margin-bottom: 1em;
}

/* =================
    Posts
   ================= */

.posts-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-template-rows: auto;
  position: relative;
}

.posts-container-element {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  border: solid lightgray;
  border-radius: 4px;
  /* margin-right: 10px; */
  width: auto;
  /* width: 20%; */
  height: auto;
  /* aspect-ratio: 1 / 3; */
  min-height: 300px;
  max-height: 300px;
  overflow: hidden;
  position: relative;
}

.title {
  
  top: 0;
  background-color: rgb(250, 246, 246);
  padding: 0.5em;
  
  border-bottom: solid lightgray;
  font-size: 1.5rem;
  font-weight: 700;
}

.content {
  overflow: auto;
  max-height: 60%;
  /* margin-bottom: 1em; */
  padding: 0.75em;
  font-size: 1rem;
  line-height: 1.6;
}


.edit-delete {
  /* visibility: hidden; */
  display: none;
  /* position: absolute; */
  /* bottom: 0;
  left: 0;
  right: 0; */
  /* position: fixed;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0%; */
}

.posts-container-element:hover .edit-delete {
  /* visibility: visible; */
  display: flex;
  
  /* justify-content: space-between; */
  align-items: center;
  background-color: rgb(250, 246, 246);
  padding: 2px;
  border-top: solid lightgray;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.edit-delete .edit {
  order: 1;
  cursor: pointer;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  color: blue;
  margin-left: 3%;
  font-size: 1.3rem;
}

.edit-delete .delete {
  order: 2;
  cursor: pointer;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  margin-left: 40%;
  color: red;
  font-size: 1.2rem;
}

/* =================
    EditForm
   ================= */

.edit-modal {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100%;
  height: 80vh;
  position: fixed;
  
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: auto;
  padding: 1.5em;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  /* width: 60%;
  height: 60vh;
  position: fixed;
  top: 11%;
  left: 0%;
  right: 0%;
  padding: 0 2em 4em;
  margin: auto;
  background-color: beige;
  border: 4px solid beige;
  border-radius: 6.5px; */
    display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-areas: 
      ". close"
      "header ."
      "form ."
    /*   "title ."
      "body ."
      "submit ."; */
}

.modal-close-btn { grid-area: close;}
.edit-modal-header { grid-area: header;}
.edit-form { grid-area: form;}
/* .edit-post-title { grid-area: title; }
.edit-post-body { grid-area: body; }
.edit-submit-btn { grid-area: submit;} */

.edit-modal-header {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.edit-modal-header > h2 {
  margin: 0; 
}

.modal-close-btn-container {
display: flex;
flex-direction: column;
}

.modal-close-btn {
  height: auto;
  min-width: 10%;
  max-width: 25%;
  background-color: rgb(133, 95, 95);
  align-self: end;
  /* height: 20%;
  width: 25%; */
  color: whitesmoke;
}

.edit-form {
  margin: 2.5em 0 1em 0;
  display: grid;
  height: 50vh;
  grid-template-rows: 0.2fr 0.5fr 0.5fr 1.5fr 0.2fr;
  /* grid-template-columns: auto; */
  
}

.edit-post-title {
  margin: 0.8em 0 0.8em 0;
}

.edit-post-body {
  margin-bottom: 2em;
}

.body-label {
  margin: 1.0em 0 0.8em 0;
}

.edit-submit-btn {
  padding: 0.5em;
}

/* =================
    Notification
   ================= */

.notification {
  
  width: auto;
  height: 1%;
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: auto;
  padding: 1.5em;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
}

/* =================
    Media Queries
   ================= */

@media (min-width: 920px) {
  body {
    padding: 2rem;
    margin: 8;
  }

  .header-container, .header-main , .header-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  .header-main > h1 {
    margin: 1em 0;
  }
  

  .header-main > h2 {
    color: gray;
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .header-title {
    margin: 0;
  }

  .header-link {
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
  }

  .header-link:hover{
    text-decoration: underline;
  }
  
  .posts-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .submit-btn, .edit-submit-btn {
    width: 6%;
  }
  
  .signup-form-container {
    display: grid;
    place-items: center;
  }

  /* .signup-form {
    place-items: center;
  } */

  .signup-form > p {
    margin-top: 3em;
  }

  .header-login > a {
    margin-left: 22px;
    text-decoration: none;
    font-size: 1.8rem;
  }

  #logout-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: #069;
    font-size: 1.8rem;
  }

  .edit-modal {
    width: 60%;
    /* display: grid; */
    
    position: fixed;
    /* top: 0%; */
   bottom: 6%;
    left: 0%;
    right: 0%;
    margin: auto;
    background-color: beige;
    
    border: 4px solid beige;
    border-radius: 4.5px;
      /* width: 60%;
  height: 60vh;
  position: fixed;
  top: 11%;
  left: 0%;
  right: 0%;
  padding: 0 2em 4em;
  margin: auto;
  background-color: beige;
  border: 4px solid beige;
  border-radius: 6.5px; */
  }

  .modal-close-btn {
    font-size: 1rem;
    min-width: 7%;
    max-width: 5%
  }

  .edit-form {
    height: auto;
  }

  .notification {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
    width: 40%;
    height: 1%;
    position: fixed;
    
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin: auto;
    padding: 1.5em;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
  }

}

@media (max-width: 400px) {
  .modal-close-btn {
    min-width: 20%;
    max-width: 20%;
  }
}

@media (orientation: landscape) and (max-width: 920px) {
  .edit-modal {
    /* width: 80%;
    height: 90vh;
    max-height: 75%;
    position: fixed;
    top: 3%;
    left: 0%;
    right: 0%;
    margin: auto;
    background-color: beige;
    
    border: 4px solid beige;
    border-radius: 4.5px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
    width: 150vh;
    min-height: 90vh;
    position: fixed;
    
    bottom: -1%;
    left: 0%;
    right: 0%;
    margin: auto;
    padding: 0 1.5em;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
  }

  .edit-form {
    height: 100vh;
    margin-top: 0.5em;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.28fr 0.15fr;
    background-color: whitesmoke;
  }
  
  .edit-post-title {
    margin-top: 0.5em;
  }
  .body-label {
    margin-top: 0.5em;
  }

  .edit-post-body {
    margin-bottom: 0;
  }

  .edit-submit-btn {
    margin-top: 1.2em;
  }

  .submit-btn, .edit-submit-btn {

    width: auto;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  select,
  select:focus,
  textarea,
  textarea:focus,
  input,
  input:focus {
    font-size: 16px;
  }
}