body {
  padding: 0.5rem;
  margin: 8;
}

.header-container, .header-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.header-container {
  justify-content: space-between;
  align-items: start;
}

.header-title {
  margin: 0;
  margin-top:1.2em;
}

.header-link {
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
}

.header-main > h2 {
  color: gray;
  font-size: 1.1rem;
  margin-top: 0;
}

.header-login {
  margin: 0;
  min-width: 30%;
  align-items: start;
  justify-content: end;
  font-size: 0.95rem;
}

.header-login > a {
  margin-left: 7%;
  text-decoration: none;
}

a:link {
  color: rgb(0, 123, 255);
}

#logout-btn {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: #069;
  font-size: 0.95rem;
  align-self: center;
}

.header-signup {
 
}

.form {
  font-size: 1.3rem;
  margin: 0px 0px;
  display: grid;
}

.form > p {
  font-size: 1.1rem;
  font-weight: 600;
  color: gray;
}

#post-title, #post-body, button {
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 8px;
  border: solid lightgray;
  border-radius: 5px;
}

#post-body {
  padding: 15px;
}

.submit-btn {
  min-width: 80px;
  width: 6%;
  padding: 0.7em;
  background-color: rgb(0, 123, 255);
  color: whitesmoke;
  font-size: 1rem;
  border: none;
}

.signup-form {
  display: grid;
 
}

.relative {
  position: relative;
}

.semi-transparent {
  opacity: 0.4;
}

.posts-container {
  /* display: flex; */
  display: grid;
  grid-gap: 20px;
  /* grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4; */
  /* grid-template-columns: 31% 31% 31%; */
  grid-template-columns: auto;
  /* grid-template-rows: 200px 100px 100px; */
  grid-template-rows: auto;
  position: relative;
  opacity: 1;
}

.posts-container-element {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  border: solid lightgray;
  border-radius: 4px;
  margin-right: 10px;
  width: auto;
  /* width: 20%; */
  height: auto;
  /* aspect-ratio: 1 / 3; */
  min-height: 300px;
  max-height: 300px;
  overflow: hidden;
  position: relative;
}

.title {
  
  top: 0;
  background-color: rgb(250, 246, 246);
  padding: 0.5em;
  
  border-bottom: solid lightgray;
  font-size: 1.5rem;
  font-weight: 700;
}

.content {
  overflow: auto;
  max-height: 60%;
  /* margin-bottom: 1em; */
  padding: 0.75em;
  font-size: 1rem;
  line-height: 1.6;
}


.edit-delete {
  /* visibility: hidden; */
  display: none;
  /* position: absolute; */
  /* bottom: 0;
  left: 0;
  right: 0; */
  /* position: fixed;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0%; */
}

.posts-container-element:hover .edit-delete {
  /* visibility: visible; */
  display: flex;
  font-size: 0.8rem;
  /* justify-content: space-between; */
  align-items: center;
  background-color: rgb(250, 246, 246);
  padding: 2px;
  border-top: solid lightgray;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.edit-delete .edit {
  order: 1;
  cursor: pointer;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  color: blue;
  margin-left: 3%;
}

.edit-delete .delete {
  order: 2;
  cursor: pointer;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  margin-left: 40%;
  color: red;
  /* margin-right: 30%; */
}

.edit-modal {
  width: 60%;
  max-height: 50%;
  /* width: 90%;
  max-width: 500px; */
  /* display: grid;
  grid-template-rows: auto 1fr auto; */
  position: fixed;
  top: 20%;
  left: 0%;
  right: 0%;
  padding: 0 2em 4em;
  margin: auto;
  background-color: beige;
  border: 4px solid beige;
  border-radius: 6.5px;
}

.edit-modal-header {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.edit-modal-header > h2 {
  margin-top: 0; 
}

.modal-close-btn-container {
display: flex;
flex-direction: column;
}

.modal-close-btn {
  height: 10%;
  min-width: 10%;
  max-width: 25%;
  background-color: rgb(133, 95, 95);
  align-self: end;
  /* height: 20%;
  width: 25%; */
  color: whitesmoke;
}

.edit-form {
  margin: 0px 0px;
  display: grid;
  /* grid-template-columns: auto;
  grid-template-rows: 100px; */
}

.edit-modal > textarea {
  height: 50%;
}

.notification {
  
  width: auto;
  height: 1%;
  position: fixed;
  
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: auto;
  padding: 1.5em;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
}

/* .notification .success {
  background-color: green;
  display:block;
}

.notification .error {
  background-color: red;
  display:block;
} */

@media (min-width: 768px) {
  body {
    padding: 2rem;
    margin: 8;
  }

  .header-container, .header-main , .header-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  .header-main > h1 {
    margin: 1em 0;
  }
  

  .header-main > h2 {
    color: gray;
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .header-title {
    margin: 0;
  }

  .header-link {
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
  }

  .header-link:hover{
    text-decoration: underline;
  }
  
  .posts-container {
    /* display: flex; */
    display: grid;
    grid-gap: 20px;
    /* grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-template-columns: 31% 31% 31%; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 200px 100px 100px; */
    grid-template-rows: auto;
    
  }

  .signup-form {
    display: grid;
    max-width: 25%;
  }

  .header-login > a {
    margin-left: 22px;
    text-decoration: none;
    font-size: 1.8rem;
  }

  #logout-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: #069;
    font-size: 1.8rem;
  }

  .edit-modal {
    width: 60%;
    
    max-height: 50%;
    position: fixed;
    top: 15%;
   
    left: 0%;
    right: 0%;
    margin: auto;
    background-color: beige;
    
    border: 4px solid beige;
    border-radius: 4.5px;
    
  }

  .modal-close-btn {
    font-size: 1rem;
    min-width: 7%;
    max-width: 5%
  }

  .notification {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
    width: 40%;
    height: 1%;
    position: fixed;
    
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin: auto;
    padding: 1.5em;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
  }

}

@media (max-width: 400px) {
  .modal-close-btn {
    min-width: 20%;
    max-width: 20%;
  }
}

@media (orientation: landscape) {
  .edit-modal {
    width: 80%;
    
    max-height: 75%;
    position: fixed;
    top: 3%;
   
    left: 0%;
    right: 0%;
    margin: auto;
    background-color: beige;
    
    border: 4px solid beige;
    border-radius: 4.5px;
    
  }
}